html, body{
	height:100%;
	width:100%;
	margin:0px;
	background-color:#c1c1c1;
	overflow:hidden;
}

#uploadButtons {
	position:absolute;
	left:50%;
    top:50%;
    width:256px;
    height:500px;
    margin-left:-128px; /* -1/2 width */
    margin-top:-250px; /* -1/2 height */
}

.uploadImageButton {
	-moz-box-shadow: 0px 0px 0px 0px #3dc21b;
	-webkit-box-shadow: 0px 0px 0px 0px #3dc21b;
	box-shadow: 0px 0px 0px 0px #3dc21b;
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
        width:256px;
    height:100px;
	border-radius:28px;
	border:1px solid #18ab29;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:32px 0px;
	text-decoration:none;
	text-shadow:0px 0px 3px #2f6627;
	display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
}

.uploadBackgroundButton {
	-moz-box-shadow: 0px 0px 0px 0px #3dc21b;
	-webkit-box-shadow: 0px 0px 0px 0px #3dc21b;
	box-shadow: 0px 0px 0px 0px #3dc21b;
	background-color:#ff0000;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
        width:256px;
    height:100px;
	border-radius:28px;
	border:1px solid #8b0000;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:32px 0px;
	text-decoration:none;
	text-shadow:0px 0px 3px #2f6627;
	display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
}

.createImageButton {
	-moz-box-shadow: 0px 0px 0px 0px #3dc21b;
	-webkit-box-shadow: 0px 0px 0px 0px #3dc21b;
	box-shadow: 0px 0px 0px 0px #3dc21b;
	background-color:#0000ff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
        width:256px;
    height:120px;
	border-radius:28px;
	border:1px solid #8b8bff;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:22px 22px;
	text-decoration:none;
	text-shadow:0px 0px 3px #2f6627;
	display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
}

input[type="file"] {
    display: none;
}

textarea { 
	font-size: 20px; 
	resize: none;
}